header{
    height: 100px;
}

.bgColor{
    background-color:darkgrey;
}

.wColor{
    color:blue;
}

.tColor{
    font-style: bold;
    color: darkcyan;
}

.hover a:hover{
    text-decoration: underline;
    color: brown;
}

.imgSize{
    width: 110px;
    height: 110px;

}

.unOrderList{
    list-style-type: circle ;
}